/* .rounded-circle{
  width: 50px !important;
  height: 50px !important;
  border-top-right-radius:0 !important;
  border-top-right-radius:0 !important;
  border-bottom-left-radius:0 !important;
  border-bottom-right-radius:100% !important;
  overflow: hidden !important;
}

.red {
    border: 1px solid red;
} */