@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'components/Header/Header.module.css'


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #f1f0ea;
  background-image: url(./images/bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'PT Sans Narrow', sans-serif !important;
  font-size: 1.3em;
}

.image-bg {
  background-image: url(./images/back-card.jpg);
  background-repeat: no-repeat;
  background-position: center; 
  background-size: cover;
  width: 80px;
}

.center_items {
  display:flex;
  justify-content: center;
  align-items: center;
}

.absolute {
  position:absolute;
}

.h-70 {
  min-height: 70vh !important;
}


.container-div {
  min-width: 220px;
  min-height: 280px;
  overflow: hidden;
}


.text-decoration-none {
  text-decoration: none !important;
}

.quarter-circle{
  border-top-right-radius:0 !important;
  border-top-left-radius:0 !important;
  border-bottom-left-radius:0 !important;
  border-bottom-right-radius:100% !important;
  overflow: hidden !important;
}

.frontal-shape-size{
  width: 180px !important;
  height: 180px !important;
  top:0 !important;
  z-index:10 !important;
}

.back-shape-size{
  width: 200px !important;
  height: 200px !important;
  top:0 !important;
  background:#212529;
  z-index:1 !important;
}

.shape-color {
  background-color:#e7727d;
}

.border-radius{
  border-radius:10px !important;
}

.special-font {  
  font-family: 'Bad Script', serifsans-serif !important;
  font-size: 1.3em;
}